<h1>New volunteer</h1>

<% form_for(@volunteer) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field_row :first_name %>
  <%= f.text_field_row :last_name %>
  <%= f.text_field_row :email_address %>
  <%= f.text_field_row :address_1 %>
  <%= f.text_field_row :address_2 %>
  <%= f.text_field_row :suburb %>
  <%= f.text_field_row :postcode %>
  <%= f.text_field_row :mobile_phone %>
  <%= f.text_field_row :home_phone %>
  <%= f.text_field_row :work_phone %>
  
  <%= f.submit_row "Create" %>
<% end %>
